*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    margin-top: 50px;
}
h2{
    font-size: 20px;
    font-weight: normal;
}
.awal{
    font-size: 14px;
}
.judul{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 400px;
    color:white;
    background-color: black;
    border-radius:10px;
    padding:15px 20px;
    font-size: 14px;
}

.judul::after{
    content: "V";

}
.description{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.description.active{
    max-height:400px;
    padding:10px 20px 30px;
    border:1px solid black;
    border-radius: 10px;
}